@import '~node_modules/modern-normalize/modern-normalize.css';


body,
table,
td,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(44, 44, 44, 1);
    background-color: rgba(255, 255, 255, 1);

    .email-container {
        max-width: 680px;
        margin: 0 auto;
    }
}

.header {
    padding: 22px 40px;
}


.content {
    padding: 0 40px;
}


.footer {
    background-color: rgba(249, 249, 249, 1);
    text-align: center;
    max-width: 600px;
    border-radius: 12px;
}

.arrow_link {
    color: rgba(33, 146, 239, 1);
    font-weight: 700;
    text-decoration: none;
}

.main-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
}

.promo_text {
    padding: 6px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;

}

.table {
    border: 1px solid rgba(233, 233, 233, 1);
    border-radius: 8px;
    width: 50%;
    padding: 24px;
}

.text {
    font-size: 14px;
    line-height: 1.42;
    padding: 6px;
}

.link_button {
    height: 48px;
    border-radius: 4px;
    background-color: rgba(255, 144, 0, 1);
    color: rgba(255, 255, 255, 1);
    padding: 12px 40px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    width: auto;
}

.link_sup_button {
    border: 2px solid rgba(255, 144, 0, 1);
    color: inherit;
    background-color: rgba(255, 255, 255, 1);
}

.sub_text {
    font-size: 12px;
    line-height: 1.3;
    color: rgba(107, 107, 107, 1);
}

.footer_link {
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

@media (min-width: 320px) {
    .email-container {
        width: 100% !important;
    }
}